*{
    margin: 0;
    padding: 0;
}

table,tr,td{
    border: 1px solid black;
}

h1{
    text-align: center;
}
table{
    /* width: 100%; */
    text-align: center;
    margin: auto;
}

.modal{
    display: none;
}

.btn{
    
}